{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper wrapper_page">
    <div class="page-breadcrumb bg-white white_bg">
        <div class="container-fluid"> 
        <div class="row align-items-center">
            <div class="col-lg-9 col-md-4 col-sm-4 col-xs-12 mb-3">
                <h4 class="page-title title_page">Dashboard</h4>
            </div>
        </div>
        </div>  
        <div class="dashboardBox">
            <div class="container-fluid">
                <div class="row">
                    <a href="{% url 'manage-tailors' %}" class="col-lg-3 round_box col-md-4 col-sm-1">
                        <div class="white-box analytics-info box_white counter bg1">
                            <h3 class="box-title">Total Tailors</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li class=" "><span class="counter text-success counter-value">{{tailor}}</span></li>
                            </ul>
                        </div>
                    </a>
                    <a href="{% url 'manage-customers' %}" class="col-lg-3  round_box col-md-4 col-sm-1">
                        <div class="white-box bg-2 analytics-info box_white counter">
                            <h3 class="box-title">Total Customers</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li class=" "><span class="counter text-purple counter-value">{{customer}}</span></li>
                            </ul>
                        </div>
                    </a>
                    <a href="{% url 'manage-delivery-boys' %}" class="col-lg-3 round_box col-md-4 col-sm-1">
                        <div class="white-box bg-3 analytics-info box_white counter">
                            <h3 class="box-title">Total Delivery Boys</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li class=" "><span class="counter text-info counter-value">{{delivery_boy}}</span> </li>
                            </ul>
                        </div>
                    </a>
                    <a href="{% url  'orders' %}" class="col-lg-3 round_box col-md-4 col-sm-1">
                        <div class="white-box bg-4 analytics-info box_white counter">
                            <h3 class="box-title">Total Orders</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li class=" "><span class="counter text-purple counter-value">{{total_order}}</span></li>
                            </ul>
                        </div>
                    </a>
                    <a href="{% url  'orders' %}" class="col-lg-3 round_box col-md-4 col-sm-1">
                        <div class="white-box bg-5  analytics-info box_white counter">
                            <h3 class="box-title">Total Pending Orders</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li class=" "><span class="counter text-purple counter-value">{{pending_order}}</span></li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}