{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper wrapper_page" style="min-height: 250px;">
  <div class="container-fluid white_bg">
    <div class="row">
      <div class="col-lg-12">
        <div class="application-detail-heading-area">
          <h2 class="noti_detail">Manage Enquiries</h2>
        </div>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <script>swal("Tailor Find!", "{{message}}", "{{message.tags}}");</script>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="table-data-search-box">
          <div class="search">
            <a href="{% url 'create-enquiry' %}" class="searchTerm">Create Enquiry</a>
          </div>
        </div>
        <div class="manage-admins-main-area">
          <div class="manage-admins-table-area">
            <table class="table" id="example1">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Phone</th>
                  <th>Subject</th>
                  <th>Created On</th>
                  <th>View Details</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% if enquiries %}
                {% for enquiry in enquiries %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{enquiry.first_name|default:''}}</td>
                  <td>{{enquiry.last_name|default:''}}</td>
                  <td>{{enquiry.phone|default:''}}</td>
                  <td>{{enquiry.phone|default:''}}</td>
                  <td style="text-align:center;">{{enquiry.created_at|default:''}}</td>
                  <td style="text-align:center;"><a href="{% url 'enquiry-detail' enquiry.id %}"
                      class="mange-admins-edit-btn"><i class="fas fa-eye"></i></a></td>
                  <td>
                    <a href="{% url 'update-enquiry' enquiry.id %}" class="mange-admins-edit-btn"><i
                        class="fas fa-edit"></i></a>
                    <a data-bs-toggle="modal" data-bs-target="#EnquiryDel{{enquiry.id}}"
                      class="mange-admins-dlt-btn"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <div class="modal fade" id="EnquiryDel{{enquiry.id}}" tabindex="-1"
                  aria-labelledby="EnquiryLabelDel{{enquiry.id}}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content innerDiv-model-dialog">
                      <div class="modal-header">
                        <h5 class="modal-title" id="EnquiryLabelDel{{enquiry.id}}">Delete
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <hr class="p-0 m-0">
                      <div class="modal-body my-4">
                        Are You Sure, Really Want To Delete ?
                      </div>
                      <hr class="p-0 m-0">
                      <div class="modal-footer">
                        <button type="button" class="download-invoice-btn" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'delete-enquiry' enquiry.id %}"><button type="button"
                            class="download-invoice-btn">Delete</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}