<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>Tailor Find</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
   <link href="css/style.min.css" rel="stylesheet">
   <link href="./css/responsive.css" rel="stylesheet">
</head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
         <div class="forget-password-detail-area responsive_height">
          <div class="forget-password-left-area left_area">
              <a href="./dashboard.html">
                  <img src="images/logo-JD-business-02-1-1-p8vrip8b47htdpmkyb4kcbgm964m3uckzbrcg8qmh0.png" alt="logo-img"> 
              </a>
          </div> 
          <div class="forget-password-input-area middel-heading-main-area right_area_back-image">
            <div class="forget-password-left-area">
                <a href="./dashboard.html">
                    <img src="images/logopng.png" alt="logo-img"> 
                </a>
            </div>
            <div class="right_area responsive_area">
                <div class="login">
                    <h2 class="change_position">Sign Up</h2> 
                </div>
                <p>Personal Details</p>
                <div class="resgistration-input-box-area box_area">
                   <input type="text" id="fname" name="fname" class="form-control input_area" placeholder="First Name">
                  </div>
                  <div class="resgistration-input-box-area box_area">
                   <input type="text" id="fname" name="fname" class="form-control input_area" placeholder="Last Name">
                  </div>
                  <div class="resgistration-input-box-area box_area">
                   <input type="text" id="fname" name="fname" class="form-control input_area" placeholder="Password">
                  </div>
                  <div class="resgistration-input-box-area box_area">
                   <input type="tel" id="fname" name="fname" class="form-control input_area" placeholder="Confirm Password">
                  </div>
                  <div class="resgistration-input-box-area box_area">
                   <input type="text" id="fname" name="fname" class="form-control input_area" placeholder="Email ID">
                  </div>
                  <div class="email-submit-btn-area btn_area">
                   <a href="#" class="email-submit-btn btn_submit">Submit</a>   
                </div>
                <div class="signup_area">
                    <p>Not a member?<a href="#"> Sign up now</a></p>
                </div>
                <div class="footer-copyright-main-area  responsive_footer copyright_area">
                    <p class="change_color">2022 © All rights reserved. <a href="/" class="footer_link">Tailor Find</a></p>   
                </div>
           </div>
          </div> 
         </div>   
    </div>
    <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/app-style-switcher.js"></script>
    <script src="js/waves.js"></script>
    <script src="js/sidebarmenu.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>