{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper wrapper_page" style="min-height: 250px;">
  <div class="container-fluid white_bg">
    <div class="row">
      <div class="col-lg-12">
        <div class="application-detail-heading-area">
          <h2 class="noti_detail">Service List</h2>
        </div>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <script>swal("Tailor Find!", "{{message}}", "{{message.tags}}");</script>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="table-data-search-box">
          <div class="search">
            <a href="{% url 'create-service' %}" class="searchTerm">Add Service</a>
          </div>
        </div>
        <div class="manage-admins-main-area">
          <div class="manage-admins-table-area">
            <table class="table" id="example1">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Price</th>
                  <th>Category</th>
                  <th>Created On</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% if services %}
                {% for service in services %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{service.name}}</td>
                  <td>{{service.type}}</td>
                  <td>${{service.price}}</td>
                  <td>{{service.category}}</td>
                  <td>{{service.created_at}}</td>
                  <td>
                    <a href="{% url 'update-service' service.id %}" class="mange-admins-edit-btn"><i
                        class="fas fa-edit"></i></a>
                    <a data-bs-toggle="modal" data-bs-target="#ModalService{{service.id}}"
                      class="mange-admins-dlt-btn"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <div class="modal fade" id="ModalService{{service.id}}" tabindex="-1"
                  aria-labelledby="ModalLabelService{{service.id}}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content innerDiv-model-dialog">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabelService{{service.id}}">Delete
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <hr class="p-0 m-0">
                      <div class="modal-body my-4">
                        Are You Sure, Really Want To Delete ?
                      </div>
                      <hr class="p-0 m-0">
                      <div class="modal-footer">
                        <button type="button" class="download-invoice-btn" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'delete-service' service.id %}"><button type="button"
                            class="download-invoice-btn">Delete</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}